<app-header></app-header>





<div class="login-area pt-100">
    <div class="container">
        <h2>Connexion candidat</h2>

        <form [formGroup]="loginForm" (ngsubmit)="loginFormateur()">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div *ngIf="email?.touched && email?.invalid">
                <small class="text-danger" *ngIf="email?.errors?.['required']">Email
                    est obligatoire</small>
                <small class="text-danger" *ngIf="email?.errors?.['email']">Respecter le format
                    de l'Adresse email</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="mdp">
            </div>
            <div *ngIf="mdp?.touched && mdp?.invalid">
                <small class="text-danger" *ngIf="mdp?.errors?.['required']">Mot de passe
                    est obligatoire</small>

            </div>
            <div class="login-sign-in">
                <ul>
                    <li>Don’t Have Account ?</li>
                    <li>
                        <a routerLink="/registerformateur">Sign Up Here</a>
                    </li>
                </ul>
                <div class="text-center">
                    <button (click)="loginFormateur()" type="submit" class="btn login-btn">Sign In</button>
                </div>
            </div>
        </form>


    </div>
</div>


<app-footer></app-footer>