<app-header></app-header>

<section class="job-area job-area-two pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" *ngFor="let offre of listeOffres">
                <div class="job-item">
                    <img *ngIf="offre.logo;else img" [src]="offre.logo" height="80px" width="70px" alt="Job">
                    <ng-template #img>
                        <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg"
                            width="80px" height="70px" alt="">
                    </ng-template>
                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>
                                <a routerLink="#">{{offre.titre}}</a>
                            </h3>
                            <a class="company" href="https://{{offre.site}}" target="_blank">{{offre.site}}</a>
                            <ul>

                                <li>Salaire:
                                    <i class="icofont-money-bag"></i>
                                    {{offre.salaire}} TND
                                </li>
                                <li>Localisation:
                                    <i class="icofont-location-pin"></i>
                                    {{offre.localisation}}
                                </li>
                                <li>Description:
                                    <i class="icofont-info"></i>
                                    {{offre.description}}
                                </li>
                                <li>Date de publication:
                                    <i class="icofont-ui-calendar"></i> {{offre.datePub}}
                                </li>
                                <li>Date d'expiration:
                                    {{offre.dateExpir}}
                                </li>
                            </ul>
                        </div>
                        <div class="job-inner-right">
                            <ul>
                                <li>
                                    <a routerLink="#">Apply</a>
                                </li>
                                <li>
                                    <span>{{offre.type}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="common-btn d-flex justify-content-center">
                <a class="login-btn" routerLink="/ajouteroffre">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Ajouter Offre
                </a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>