.nooffer {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 40px;
    color: #646464;
}

.row .nooffer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.col-lg-4 {
    width: 100% !important;
}

.banner-form-area {
    margin: 30px 20px 30px 20px;
}