<app-header></app-header>




<div class="login-area pt-100">
    <div class="container">
        <h2>Connecter a votre compte</h2>
        <div class="login-wrap">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="jobseeker-item">
                        <div class="jobseeker-icon">
                            <i class="flaticon-job-search"></i>
                        </div>
                        <div class="jobseeker-inner">
                            <span>Entreprise</span>
                            <h3>S'authentifier en tant qu'entreprise</h3>
                        </div>
                        <a routerLink="/loginentreprise">Connexion
                            <i class="icofont-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="jobseeker-item">
                        <div class="jobseeker-icon">
                            <i class="flaticon-recruitment"></i>
                        </div>
                        <div class="jobseeker-inner">
                            <span>Formateur</span>
                            <h3>S'authentifier en tant que formateur</h3>
                        </div>
                        <a routerLink="/loginformateur">Connexion
                            <i class="icofont-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<app-footer></app-footer>