<app-header></app-header>
<div class="contact-form-area ptb-100">
    <div class="container">
        <form id="contactForm" (ngsubmit)="addContact()">
            <div class="post-job-heading text-center">
                <h2>Contact</h2>
            </div>
            <div class="row contact-wrap">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Nom</label>


                        <input *ngIf="currentUser;else md" type="text" name="nom" id="name" class="form-control"
                            placeholder="nom" [(ngModel)]="currentUser.nom" readonly>
                        <ng-template #md>
                            <input type="text" name="name" id="name" class="form-control" required
                                data-error="Please enter your name" placeholder="nom" [(ngModel)]="contact.nom">
                        </ng-template>
                        <div class="help-block with-errors"></div>

                    </div>

                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Email</label>


                        <input *ngIf="currentUser;else ff" type="email" name="email" id="email" class="form-control"
                            required [(ngModel)]="currentUser.email " placeholder="Email" readonly>
                        <ng-template #ff>
                            <input type="email" name="email" id="email" class="form-control" required
                                data-error="Please enter your email" placeholder="Email" [(ngModel)]="contact.email">
                        </ng-template>
                        <div class="help-block with-errors"></div>
                    </div>

                </div>


                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Sujet</label>
                        <input type="text" name="sujet" id="msg_subject" class="form-control" required
                            data-error="Please enter your subject" placeholder="Sujet" [(ngModel)]="contact.sujet">

                        <div class="help-block with-errors"></div>
                    </div>

                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea name="msg" class="form-control" id="message" cols="30" rows="8" required
                            data-error="Write your message" placeholder="Message" [(ngModel)]="contact.msg"></textarea>

                        <div class="help-block with-errors"></div>
                    </div>
                </div>


                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button type="submit" (click)="addContact()" class="btn contact-btn">Submit</button>
                    </div>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>