<app-header></app-header>
<div class="contact-form-area ptb-100">
    <div class="container">
        <form id="contactForm" [formGroup]="addContactForm" (ngsubmit)="addContact()">
            <div class="post-job-heading text-center">
                <h2>Contact</h2>
            </div>
            <div class="row contact-wrap">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Nom</label>
                        <input type="text" name="name" id="name" class="form-control" required
                            data-error="Please enter your name" placeholder="nom" formControlName="nom">
                        <div class="help-block with-errors"></div>
                        <div *ngIf="nom?.touched && nom?.invalid">
                            <small class="text-danger" *ngIf="nom?.errors?.['required']">nom
                                est obligatoire</small>

                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Prenom</label>
                        <input type="email" name="email" id="email" class="form-control" required
                            data-error="Please enter your email" placeholder="Email" formControlName="email">
                        <div *ngIf="email?.touched && email?.invalid">
                            <small class="text-danger" *ngIf="email?.errors?.['required']">email
                                est obligatoire</small>

                        </div>
                        <div class="help-block with-errors"></div>
                    </div>

                </div>


                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Sujet</label>
                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" required
                            data-error="Please enter your subject" placeholder="Sujet" formControlName="sujet">
                        <div *ngIf="sujet?.touched && sujet?.invalid">
                            <small class="text-danger" *ngIf="sujet?.errors?.['required']">sujet
                                est obligatoire</small>

                        </div>
                        <div class="help-block with-errors"></div>
                    </div>

                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" required
                            data-error="Write your message" placeholder="Message" formControlName="msg"></textarea>
                        <div *ngIf="msg?.touched && msg?.invalid">
                            <small class="text-danger" *ngIf="msg?.errors?.['required']">msg
                                est obligatoire</small>

                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="form-check agree-label">
                            <input name="gridCheck" value="I agree to the terms and privacy policy."
                                class="form-check-input" type="checkbox" id="gridCheck" required>
                            <label class="form-check-label" for="gridCheck">
                                Accept <a href="terms-condition.html">Terms & Conditions</a> And <a
                                    href="privacy-policy.html">Privacy Policy.</a>
                            </label>
                            <div class="help-block with-errors gridCheck-error"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button type="submit" (click)="addContact()" class="btn contact-btn">Submit</button>
                    </div>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>