<app-header></app-header>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Liste des postulations par offre</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                        <thead>
                            <tr>
                                <th>Offre</th>
                                <th>Candidat</th>
                                <th>Email</th>
                                <th>Telephone</th>
                                <th>Cv</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let forma of listeForm">
                            <tr class="alert" role="alert">
                                <td><a routerLink="/offre/{{currentOffre.id}}">{{currentOffre.titre}}</a></td>
                                <td class="d-flex align-items-center">
                                    <div class="img" style="background-image: url({{forma.photo}});"></div>
                                    <div class=" email">
                                        <!-- <span>{{formateur.offre}}</span> -->
                                        <span class="nom">{{forma.nom}} {{forma.prenom}}</span>
                                    </div>
                                </td>

                                <td><a href="mailto:{{forma.email}}"><span
                                            class="__cf_email__">{{forma.email}}</span></a>
                                </td>

                                <td><a href="tel:{{forma.numeroTel}}">{{forma.numeroTel}}</a>
                                </td>
                                <td><a><img src="https://f.hellowork.com/blogdumoderateur/2013/07/pdf.png" height="50px"
                                            class="cv" (click)="openDoc(forma.cv)"> </a>
                                </td>

                                <!-- <td *ngIf="offre.dateExpir!>now.toISOString().slice(0, 10);else sh" class="status"><span
                    class="active">Active</span></td>
            <ng-template #sh>
                <td class="status"><span class="Danger">Expiré</span></td>
            </ng-template> -->
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>