<app-header></app-header>>




<section class="error-area">
    <div class="error-item">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="error-text">
                    <h1>404!</h1>
                    <p>Page introuvable</p>
                    <span>Oops! la page que vous cherchez à joindre n'a pas été trouvée à l'adresse que vous avez
                        sélectionnée.</span>
                    <a routerLink="/home">Retour à la page d'accueil</a>
                </div>
            </div>
        </div>
    </div>
</section>








<app-footer></app-footer>