<app-header></app-header>
<section class="job-area job-area-two pt-100">
    <div class="container job-item">
        <div *ngIf="numberOffres!=0" class="banner-form-area">
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input type="search" (change)="searchtitre()" name="titre" [(ngModel)]="SearchedOffre.titre"
                                class="form-control" placeholder="Titre de l'emploi">
                            <label>
                                <i class="icofont-search-1"></i>
                            </label>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn banner-form-btn">Chercher</button>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div *ngIf="numberOffres==0" class="nooffer d-flex justify-content-center">
                    Vous n'avez pas publier des offres
                </div>
                <div class="col-lg-6 "
                    *ngFor="let offre of listeOffres | paginate:{itemsPerPage:4,currentPage:page,totalItems:numberOffres}">
                    <div class="job-item">
                        <img [src]="offre.entreprise?.logo" height="80px" width="70px" alt="Job">
                        <!-- <ng-template #img> -->
                        <!-- <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg"
                            width="80px" height="70px" alt=""> -->
                        <!-- </ng-template> -->
                        <div class="job-inner align-items-center">
                            <div class="job-inner-left">
                                <h3>
                                    <a routerLink="/offre/{{offre.id}}">{{offre.titre}}</a>
                                </h3>
                                <a class="company" href="https://{{offre.entreprise?.site}}"
                                    target="_blank">{{offre.entreprise?.site}}</a>
                                <ul>

                                    <li>Salaire:
                                        <i class="icofont-money-bag"></i>
                                        {{offre.salaire}} TND
                                    </li>
                                    <li>Localisation:
                                        <i class="icofont-location-pin"></i>
                                        {{offre.entreprise?.localisation}}
                                    </li>

                                    <li>Date de publication:
                                        <i class="icofont-ui-calendar"></i> {{offre.datePub}}
                                    </li>
                                    <li>Date d'expiration:
                                        <i class="icofont-clock-time"></i>

                                        {{offre.dateExpir}}
                                    </li>
                                    <li><a routerLink="/postulationbyoffre/{{offre.id}}" style="    color: #186fc9;
                                        border-color: #186fc9;
                                        background-color: #f1f7fc; text-align: center;">Voir liste des postutions de
                                            l'offre</a>
                                        <i class="icofont-listine-dots"></i>
                                    </li>
                                    <li *ngIf="offre.etat==1" style="    border-color: #26ae62;
                                    background-color: #e9fff3;
                                    color: #26ae62; text-align: center;">Etat:
                                        Publié
                                    </li>
                                    <li *ngIf="offre.etat==0" style="    color: #186fc9;
                                    border-color: #186fc9;
                                    background-color: #f1f7fc; text-align: center;">
                                        En cours de traitement
                                    </li>

                                </ul>
                            </div>
                            <div class="job-inner-right">
                                <ul>

                                    <li *ngIf="userType==null ||userType=='formateur'  ">
                                        <a routerLink="#" (click)="apply()">Postuler</a>
                                    </li>

                                    <li>
                                        <span>{{offre.type}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="common-btn d-flex justify-content-center">
                                <a routerLink="/modifieroffre/{{offre.id}}" class="btn btn-sm btn-warning">Modifier
                                    <i class="icofont-edit"></i> </a>
                                <a class="btn btn-sm btn-danger" (click)="supprimerOffre(offre)">Supprimer
                                    <i class="icofont-ui-delete"></i> </a>
                            </div>

                        </div>

                    </div>
                </div>
                <pagination-controls (pageChange)="page=$event" class="my_pagination d-flex justify-content-center">
                </pagination-controls>
                <div class="common-btn d-flex justify-content-center">
                    <a class="login-btn" routerLink="/ajouteroffre">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Ajouter Offre
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




<app-footer></app-footer>